hr {
    margin-top: 0px !important;
}
.main-sidebar, .left-side {
    position: absolute;
    top: 0;
    left: 0;
    
}
.sidebar-menu li.header {
    font-size: 16px !important;
}
.skin-blue .sidebar-menu>li.header {
    color: #fff !important;
}

.login-panel {
    margin-top: 25% !important;
}
.main-header>.tabbednavbar {    
    margin-left: 0px !important; 
    
}
.tabbednavbar>.nav-tabs {    
    margin-left: 0px !important;
}

.main-header>.navbar {
    margin-left: 0px !important;
 }
.main-sidebar {
     padding-top: 0px !important;
     margin-top: 50px !important;
     background-image: url(images/Full_Sidebar-12.png) fixed !important;
     background-size: 100% 100% !important;
   }

.nav-tabs {
    z-index: 1000 !important;
}

.header-logo {
    
    margin-left: 0px !important;
    display: block !important;
    box-sizing: border-box !important;
    background-color: #367fa9 !important;
    color: #fff !important;
    border-bottom: 0 solid transparent !important;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
 }
td.details-control {
    background: url('images/details_open.png') no-repeat center center !important;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('images/details_close.png') no-repeat center center !important;
}
/*div.slider {    display: none;}
 */
table.dataTable tbody td.no-padding {
    padding: 0;
}

